
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: 'Material Icons';
  font-size: 50px;
  font-style: normal;
  margin-left: 0;
}

.flaticon-012-vodopad:before { content: "\f084"; }
.flaticon-024-vozic:before { content: "\e570"; }
.flaticon-026-staze:before { content: "\e50a"; }
.flaticon-033-aktivnosti:before { content: "\f06e"; }
.flaticon-036-skijanje:before { content: '\e509'; }
.flaticon-044-planina:before { content: "\e3f7"; }